





  <div class="card-columns m-xl-2 p-xl-1 ">

    <div id="cement" class="card" >
      <div class="card-body text-center">
        <p class="card-text bg-white pt-2 pb-2 ">Cements</p>
         
      </div>
      <a class="nav-link text-dark stretched-link" [routerLink]="['/products/category/cement']"></a>

    </div>
    <div id="building-aggregates" class="card bg-warning"> 
      <div class="card-body text-center mt-2">
        <p class="card-text bg-white pt-2 pb-2 ">Building Aggregates</p>
         
      </div>
      
      <a class="nav-link text-dark stretched-link" [routerLink]="['/products/category/building-agregates']"></a>
    </div>

    <div id="decorative-aggregates" class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text pt-2 pb-2 bg-white">Decorative Aggregates</p>
      </div>
      <a class="nav-link text-dark stretched-link" [routerLink]="['/products/category/pebbles']"></a>
    </div>
    <div id="limestone" class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text pt-2 pb-2 bg-white">Limestone Paving </p>
      </div>
      <a class="nav-link text-dark stretched-link" [routerLink]="['/products/category/limestone']"></a>
    </div>

    <div id="chippings" class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text bg-white pt-2 pb-2">Chipping</p>
      </div>
      <a class="nav-link text-dark stretched-link" [routerLink]="['/products/category/chippings']"></a>
    </div>

    <div id="sandstone" class="card bg-info">
      <div class="card-body text-center">
        <p class="card-text bg-white pt-2 pb-2">Sandstone Paving</p>
      </div>
      <a class="nav-link text-dark stretched-link" [routerLink]="['/products/category/sandstone']"></a>
    </div>
  </div>


