<section id="desktop" class="container contactus mt-5">
    
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h1>Contacts</h1>
            <h4> You Can contact us through the following</h4>
        </div>
        <div class="col-md-4 offset-4 text-center">
           
          <p><b> Opening Hours:</b>  </p>  
          <p class="text-muted">Monday - Saturday - 8am to 6pm</p>
          <p><b>Customer Service:</b>  </p>  
          <p class="text-muted">HelloShiahillAggregates.gh</p>
          <p><b>Customer Service Phone:</b>  </p>  
          <p class="text-muted">02042589745</p>
          <p><b>Customer Service Mobile:</b>  </p>  
          <p class="text-muted">02042589745</p>
          <p class="text-muted">02042589745</p>
          <p class="text-muted">02042589745</p>
          <p class="text-muted">02042589745</p>
          


        </div>
    </div>


</section>
