<section class=" mt-1 container-fluid">
  <div id="delivery-desktop" class="text-center jumbotron">
      <p id="delivery-heading" class="font-weight-bold display-4">Delivery Guild </p>
      <p>We deliver to <strong>Accra, Volta and Central  </strong>  Regions Only</p>
      <p>We Only delivery purchases that weigh more than 200 kg</p>
  </div>
  <div id="delivery-mobile" class="text-center jumbotron">
    <p id="delivery-heading" class="font-weight-bold display-6">Delivery Guild </p>
    <p>We deliver to <strong>Accra, Volta and Central  </strong>  Regions Only</p>
    <p>We Only delivery purchases that weigh more than 200 kg</p>
</div>
  
</section>


