

   
<section id="about" class="container container-md text-center">
    <div id="desktop" class="row">
        <div class="col-md-8 offset-2 col-sm-12">
            <p class="h1">About</p>
        <div class="card mt-4  border-0">
 
            <p class="font-weight-bold">
                We are  a decentralized online marketplace with one of the biggest and most 
               comprehensive range of products
                specifically aimed at the construction and engineering sector.
           </p>
        </div>
               
        <div class=" mt-4 card border-0">
            <p>
                We strongly believe using technology and innovation can standardize,
                 organize and simplify the entire procurement and supply process.
                  With our vast Domain wisdom, Disruptive innovation & Radical 
                approach along with the aid of best technology, we always thrive 
                to cater you the best solutions.
            </p>
        </div>
           
           

        </div>
    </div>

</section>