
<section id="top-footer" class="container-fluid   text-white">
   <div id="desktop-footerView" class=" bg-dark   row ">


      <div id="contact-links" class=" col-md-4 text-white  general-infor">
         <p class="text-center font-weight-bold general-infor-heading ">CONTACT INFORMATION</p>
         <p class="p-1 col-md-auto ">Email: shaihill.aggregate.com</p>
         
            <a id="social-media-facebook"  class="nav-socal-links1" href="#" class="fa fa-facebook"> </a>
            <a id="social-media-twiter" class="nav-socal-links2" href="#" class="fa fa-twitter"></a><br/>
            <p><b> Opening Hours:</b>  </p>  
            <p class="text-muted">Monday - Saturday - 8am to 6pm</p>
            <p><b>Customer Service:</b>  </p>  
            <p class="text-muted">HelloShiahillAggregates.gh</p>
            <p><b>Customer Service Phone:</b>  </p>  
            <p class="text-muted">02042589745</p>
            <p><b>Customer Service Mobile:</b>  </p>  
            <p class="text-muted">02042589745</p>
            <p class="text-muted">02042589745</p>
            

      </div>
      <div id="aggregate-types" class="col-sm-12 col-md-4  ">
         <p class="text-center font-weight-bold ">AGGREGATE TYPES</p>
         <dl class="float-md-left float-sm-left ">
            <dt class="nav-item" [routerLinkActive]="['link-active']">
               <a class="nav-link " [routerLink]="['/products/category/pebbles']">Pebbles
               </a>
            </dt>
 
            <dd>-used for pavements</dd>
            <dd>-garden decoration</dd>
         </dl>
         <dl class="float-sm-right fl ">
            <dt  class="nav-item" [routerLinkActive]="['link-active']">
               <a class="nav-link" [routerLink]="['/products/category/building-agregates']">Sharp Sand
               </a>
             </dt>
            <dd>-used for pavements</dd>
            <dd>-garden decoration</dd>
         </dl>
         <dl class="float-sm-left ">
            <dt  class="nav-item" [routerLinkActive]="['link-active']">
               <a class="nav-link" [routerLink]="['/products/category/limestone']">Limestone
               </a>
             </dt>
            <dd>-used for pavements</dd>
            <dd>-garden decoration</dd>
         </dl>
         <dl class="float-md-right ">
            <dt  class="nav-item" [routerLinkActive]="['link-active']">
               <a class="nav-link" [routerLink]="['/products/category/sandstone']">Sandstone
               </a>
             </dt>
            <dd>-used for pavements</dd>
            <dd>-garden decoration</dd>
         </dl>
         <dl class="float-md-left ">
            <dt  class="nav-item" [routerLinkActive]="['link-active']">
               <a class="nav-link " [routerLink]="['/products/category/chippings']">Chippings
               </a>
             </dt>
            <dd>-used for pavements</dd>
            <dd>-garden decoration</dd>
         </dl>
         <dl class="float-md-right ">
            <dt  class="nav-item" [routerLinkActive]="['link-active']">
               <a class="nav-link" [routerLink]="['/products/category/cement']">Cement
               </a>
             </dt>
            <dd>-used for pavements</dd>
            <dd>-garden decoration</dd>
         </dl>


      </div>
      <div id="payment-methods" class="col-sm-4">
         <p class="text-center font-weight-bold ">PAYMENT METHODS</p>
         <dl class="text-left">
            <dt class="ml-3 ">Cash</dt>
            <dd class="ml-4">-not more then 200</dd>
            <dt class="ml-3">Bank's Draft</dt>
            <dd class="ml-4">-not more than 500</dd>
            <dt class="ml-3">Cheques</dt>
            <dd class="ml-4">-not more than 1000</dd>
            <dt class="ml-3">Debit card</dt>
            <dd class="ml-4">-no limit</dd>
         </dl>
      </div>
   </div>
   <div id="footer-mobile" class="row">
      <div id="contact-links" class=" col-sm-12 bg-dark  general-infor">
         <p class="text-center font-weight-bold general-infor-heading ">CONTACT INFORMATION</p>
         <p class="p-1 col-md-auto ">Email: shaihill.aggregate.com</p>
         <a href="#" class="fa fa-facebook"></a>
         <a href="#" class="fa fa-twitter"></a>

      </div>

   </div>
   <div id="foot" class="row mb-1 bg-midnight text-white ">
      <div class="col-md-12 ">
         <div class="ml-3 border-white text-center ">
            <span>&copy; 2021 | Shia Hill Aggregates  </span>
         </div>
      </div>

   </div>
</section>